body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Header */
.navIcon {
    font-size: 20px;
}
#headerButton {
    font-size: 1.5em;
}

.w3-bar {
    background-color: #333030;
}

/* Page Container */
.page-content {
    width: 100%;
    margin: 30px 0 60px 0;
    padding: 0;
}


 /* Sections */
/*Payments */
.fontCenter {
    text-align: center;
}
.featureFont {
    font-size: 3em;
}

.payment {
    display: inline-block;
    padding-bottom: 40px;
    padding-top: 40px;
}

.boxed {
    background-color: #131722;
    border-radius: 7px;
    margin-right: 20%;
    margin-left: 20%;
    padding: 3%;
}



/* Biz Buzz */
.BizBuzz {
    padding: 20px 20px 50px 20px;
}

.BizBuzztext {
    background-color: #0F0F0F;
    border-radius: 3px;
    padding: 10px 40px 20px 40px;
    text-align: center;
}
.BizBuzztext h3 {
    font-size: 1.2rem;
    padding-top: 10px;
}
.BizBuzztext h4 {
    font-size: 1.1rem;

}

/* Chart/Video..*/
.chartTxt {
    background-color: #222222;
    text-align: center;
    padding: 20px;
    margin: 0 25%;
}

.videoTxt {
    background-color: #222222;
    text-align: center;
    padding: 20px;
    margin: 0 15%;
}

/* start da css for da buttons */
.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}
.black {
    background-color: black;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}
.black:hover {
    background-color: #333030;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
    background-color: #6FC6FF;
}

/* Footer*/
.navLink {
    font-size: 1.7rem;
    display: inline-block;
    padding: 1.2rem 2rem;
}

.footer {
    background-color: #212529;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#social-platforms {
    max-width: 100%;
    display: inline-block;
}

#social-media {
    position: relative;
    top: 25vh;
    font-size: 1rem;
    text-align: center;
    height: 20px;
    overflow: hidden;
}

.btn {
    clear: both;
    white-space: nowrap;
    font-size: 0.8em;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
    margin: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
}

.btn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,
.btn-icon > i {
    float: left;
    padding: 13px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 1em;
}

.btn > span {
    padding: 14px 18px 16px;
    white-space: nowrap;
    color: #fff;
    background: #b8b8b8;
}

.btn:hover > span {
    color: #212121;
    font-weight: 900;
}

.btn:focus > span {
    background: #9a9a9a;
}

.btn-icon > i {
    border-radius: 5px 0 0 5px;
    position: relative;
    width: 40px;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    background: #333030;
}

.btn-icon > i:after {
    content: "";
    border: 8px solid;
    border-color: transparent transparent transparent #222;
    position: absolute;
    top: 13px;
    right: -15px;
}

.btn-icon:hover > i,
.btn-icon:focus > i {
    color: #fff;
}

.btn-icon > span {
    border-radius: 0 5px 5px 0;
}

/*Facebook*/
.btn-facebook:hover > i,
.btn-facebook:focus > i {
    color: #3b5998;
}

.btn-facebook > span {
    background: #3b5998;
}

/*Twitter*/
.btn-twitter:hover > i,
.btn-twitter:focus > i {
    color: #00aced;
}

.btn-twitter > span {
    background: #00aced;
}

/*Instagram*/
.btn-instagram:hover > i,
.btn-instagram:focus > i {
    color: #517fa4;
}

.btn-instagram > span {
    background: #517fa4;
}

/*LinkedIn*/
.btn-linkedin:hover > i,
.btn-linkedin:focus > i {
    color:#007bb6
}

.btn-linkedin > span {
    background:#007bb6
}
