
body {
    margin: 0;
    padding: 0;
    background-color: lightslategrey;
}


/* SideBar */
#tradeSidebar {
    float: right;
    max-width: 400px;
}

#signUpBox {
    background: white;
    float: right;
    padding: 0px 20px 20px;
    margin: 0px 5px 10px;
    border-radius: 1%;
    text-align: center;
}

#signUpBox h2 {
    text-align: center;
    color: white;
}

#signUpBox p {
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px 10px 0px 0px;
}

#inputSignUp {
    padding-left: 75px;
    padding-right: 75px;
}

#nameSignUp, #emailSignUp {
    width: auto;
    text-align: center;
    padding: 0px 10px;
    margin-top: 10px;
    justify-items: center;
    border-radius: 2%;
}

#submitSignUp {
    margin-top: 10px;
    margin-bottom: -10px;
    display: inline-block;
    border-radius: 2%;
}

#signUpHeader {
    background: dodgerblue;
    border-radius: 3%;
    padding: 5px;
}


#comingSoon {
    display: inline-block;
    text-align: center;
    color: white;
    margin-right: 500px;
    font-size: 10px;
}

/* Footer*/
.footer {
    background-color: #212529;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#social-platforms {
    max-width: 100%;
    display: inline-block;
}

#social-media {
    position: relative;
    top: 25vh;
    font-size: 1rem;
    text-align: center;
    height: 20px;
    overflow: hidden;
}



.btn {
    clear: both;
    white-space: nowrap;
    font-size: 0.8em;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
    margin: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
}

.btn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,
.btn-icon > i {
    float: left;
    padding: 13px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 1em;
}

.btn > span {
    padding: 14px 18px 16px;
    white-space: nowrap;
    color: #fff;
    background: #b8b8b8;
}

.btn:hover > span {
    color: #212121;
    font-weight: 900;
}

.btn:focus > span {
    background: #9a9a9a;
}

.btn-icon > i {
    border-radius: 5px 0 0 5px;
    position: relative;
    width: 40px;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    background: #212121;
}

.btn-icon > i:after {
    content: "";
    border: 8px solid;
    border-color: transparent transparent transparent #222;
    position: absolute;
    top: 13px;
    right: -15px;
}

.btn-icon:hover > i,
.btn-icon:focus > i {
    color: #fff;
}

.btn-icon > span {
    border-radius: 0 5px 5px 0;
}

/*Facebook*/
.btn-facebook:hover > i,
.btn-facebook:focus > i {
    color: #3b5998;
}

.btn-facebook > span {
    background: #3b5998;
}

/*Twitter*/
.btn-twitter:hover > i,
.btn-twitter:focus > i {
    color: #00aced;
}

.btn-twitter > span {
    background: #00aced;
}

/*Instagram*/
.btn-instagram:hover > i,
.btn-instagram:focus > i {
    color: #517fa4;
}

.btn-instagram > span {
    background: #517fa4;
}